<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#0079d9">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#0079D9">
    <title>{% block title %}File converter{% endblock %}</title>
    {% block stylesheets %}
        <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>
        <link rel="preload" href="https://fonts.googleapis.com/css?family=Montserrat:500,600" as="style"
              onload="this.rel = 'stylesheet'" crossorigin>
        <noscript>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500,600">
        </noscript>
        {% for js in encore_entry_js_files('js/preload') %}
        <script src="{{ asset(js) }}" async defer></script>
        {% endfor %}
        {{ encore_entry_link_tags('css/main') }}
    {% endblock %}

    {% block javascript %}
    {% for js in encore_entry_js_files('js/preload') %}
           <script src="{{ asset(js) }}" async></script>
       {% endfor %}
   {% for upload_validation in encore_entry_js_files('js/upload-validation') %}
       <script src="{{ asset(upload_validation) }}" async></script>
   {% endfor %}
{% endblock %}
</head>
<body>
<header class="header">
    <div class="container">
        <div class="navigation-wrapper">
            <a href="{{ path('index') }}"><img src="{{ asset('../assets/images/icons/logo.svg') }}"></a>
            <nav class="navigation">
                <ul class="navigation__list">
                    <li class="navigation__item">
                        <a href="https://en.wikipedia.org/wiki/Comma-separated_values" target="_blank"
                           rel="noopener noreferrer" class="navigation__link">About csv</a></li>
                    <li class="navigation__item"><a href="https://en.wikipedia.org/wiki/Office_Open_XML" target="_blank"
                                                    rel="noopener noreferrer" class="navigation__link">About xlsx</a>
                    </li>
                    <li class="navigation__item"><a href="https://phpspreadsheet.readthedocs.io/en/develop/"
                                                    target="_blank"
                                                    rel="noopener noreferrer" class="navigation__link">Library</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<main class="content">
    <div class="container">
        <div class="intro">
            <h1 class="title-1">Converter</h1>
            <p>Convert your xlsx and csv files in one click! </p>
        </div>
        <div class="box">
            {{ form_start(convertForm, {attr: {class: 'form'}}) }}
            <div class="button">
                {{ form_row(convertForm.csv) }}
            </div>
            <div class="button">
                {{ form_row(convertForm.xlsx) }}
            </div>
            {{ form_end(convertForm) }}
            <div class="animation-wrapper">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                    <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10"
                            cx="65.1" cy="65.1" r="62.1"/>
                    <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round"
                              stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
                </svg>
                <p class="success">File converted!</p>
            </div>
        </div>
    </div>
</main>
<footer class="container">
    <small class="copyright"> &copy; {{ 'now' | date('Y') }} Ultricies Lorem Inceptos</small>
</footer>
</body>
</html>
